In [1]:
# Python standard-library
from urllib.parse import urlencode
from urllib.request import urlretrieve


import pandas as pd
import numpy as np
import matplotlib

# Third-party dependencies
from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.table import Table
from astropy.io import ascii

from IPython.display import Image

# Set up matplotlib and use a nicer set of plot parameters
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
#clusters=[['ngc 2419',12],['Pal 3',12],['Pal 4',12],['ngc 4147',12],['ngc 5024',12],['M53',12],['ngc 5053',12],['ngc 5272',12]
#      ,['M3',12],['ngc 5466',12],['Pal 5',12],['ngc 5904',12],['M5',12],['Pal 14',12],['ngc 6205',12],['M13',12],
#     ['ngc 6341',12],['M92',12],['ngc 6838',12],['M71',12],['ngc 7006',12],['ngc 7078',12],['M15',12],['ngc 7089',12],['M2',12]]
#clusters=[['ngc 2419',2.92],['Pal 3',6.18],['Pal 4',2]]

clusters=[['ngc 2419',12],['Pal 3',12],['Pal 4',12],['ngc 4147',12],['ngc 5024',12],['M53',12],['ngc 5053',12],['ngc 5272',12]
     ,['M3',12],['ngc 5466',12],['Pal 5',12],['ngc 5904',12],['M5',12],['Pal 14',12],['ngc 6205',12],['M13',12],
     ['ngc 6341',12],['M92',12]]

print(len(clusters))
i=2
print(clusters[i])

sclus=clusters[i]
print(sclus[0])
print(sclus[1])

18
['Pal 4', 12]
Pal 4
12

In [26]:
radeg= [None] * len(clusters)
decdeg= [None] * len(clusters)
i=0
for clus in clusters:
    #print(clus)
    print(clus[0])
    #print(clus[1])
    clus_center = SkyCoord.from_name(clus[0])
    #print(clus_center.ra, clus_center.dec)
    #print(clus_center.ra.hour, clus_center.dec)
    print(str(clus_center.ra.deg), str(clus_center.dec.deg))
    radeg[i]=clus_center.ra.deg
    decdeg[i]=clus_center.dec.deg
    i=i+1
    clus[1]=10

ngc 2419
114.535458 38.881917
Pal 3
151.379 0.070944
Pal 4
172.32 28.973611
ngc 4147
182.5256208 18.5421611
ngc 5024
198.230208 18.168167
M53
198.230208 18.168167
ngc 5053
199.112875 17.70025
ngc 5272
205.548417 28.377278
M3
205.548417 28.377278
ngc 5466
211.363708 28.534444
Pal 5
229.022083 -0.111389
ngc 5904
229.638417 2.081028
M5
229.638417 2.081028
Pal 14
242.745833 14.961667
ngc 6205
250.423475 36.4613194
M13
250.423475 36.4613194
ngc 6341
259.280792 43.135944
M92
259.280792 43.135944
ngc 7006
315.3727708 16.1879139
ngc 7078
322.493042 12.167
M15
322.493042 12.167
ngc 7089
323.362583 -0.82325
M2
323.362583 -0.82325

In [27]:
from astroquery.sdss import SDSS
from astropy.io import ascii

#q1 = " select g.objid, g.ra, g.dec, g.u, g.g, g.r, g.i, g.z from galaxy g, "
q1 = " select g.objid, g.ra, g.dec, g.u, g.g, g.r, g.i, g.z, s.z as redshift FROM galaxy AS g JOIN SpecObj AS s ON s.bestobjid = g.objid, "
q3 = "  n where g.objid = n.objid "
i=0
for clus in clusters:
    print(clus[0])
    #query = "select top 10                        z, ra, dec, bestObjID                      from                        specObj                      where                        class = 'galaxy'                        and z > 0.3                        and zWarning = 0"
    #query = " select s.objid, s.ra, s.dec, s.u, s.g, s.r, s.i, s.z from star s, dbo.fGetNearbyObjEq(229.0128,-0.1082,3) n where s.objid = n.objid "
    q2 = " dbo.fGetNearbyObjEq("+str(radeg[i])+","+str(decdeg[i])+",32) "
    query = q1+q2+q3
    i=i+1
    res = SDSS.query_sql(query)
    outfile='galaxout/'+clus[0]+'.csv'
    ascii.write(res,outfile)

ngc 2419
Pal 3
Pal 4
ngc 4147

WARNING: AstropyDeprecationWarning: galaxout/ngc 2419.csv already exists. Automatically overwriting ASCII files is deprecated. Use the argument 'overwrite=True' in the future. [astropy.io.ascii.ui]
WARNING: AstropyDeprecationWarning: galaxout/Pal 3.csv already exists. Automatically overwriting ASCII files is deprecated. Use the argument 'overwrite=True' in the future. [astropy.io.ascii.ui]
WARNING: AstropyDeprecationWarning: galaxout/Pal 4.csv already exists. Automatically overwriting ASCII files is deprecated. Use the argument 'overwrite=True' in the future. [astropy.io.ascii.ui]

ngc 5024
M53
ngc 5053
ngc 5272
M3
ngc 5466
Pal 5
ngc 5904
M5
Pal 14
ngc 6205
M13
ngc 6341
M92
ngc 7006

ValueError: Inconsistent data column lengths: set()

In [30]:
from astropy.table import Table, join, vstack
res = [None] * len(clusters)
i=0
totlen=0
for clus in clusters:
    #print(clus[0])
    datfilename='galaxout/'+clus[0]+'.csv'
    tab=ascii.read(datfilename)
    res[i]=Table(tab, copy=True)

In [31]:
#datfilename='globout/allglobcs.csv'
#tab=ascii.read(datfilename)

clus=clusters[4]
datfilename='galaxout/'+clus[0]+'.csv'
tab=ascii.read(datfilename)

#tab=res[0]
newbigtable=Table(tab, copy=True)

print(newbigtable.info)

<Table length=215>
  name    dtype
-------- -------
   objid   int64
      ra float64
     dec float64
       u float64
       g float64
       r float64
       i float64
       z float64
redshift float64